.input__label {
  display: block;
  font-size: 10px;
  margin-bottom: 11px;
}

.input__field {
  width: 100%;
  box-sizing: border-box;
  background-color: #2f2f2f;
  border: none;
  outline: none;
  padding: 15px;
  margin-bottom: 6px;
  border-radius: 8px;
  color: #fff;
  font-size: 13px;
}

.input_field_type_disabled {
  color: #565656;
}

.input__error {
  display: block;
  font-size: 10px;
  color: #ee3465;
  height: 12px;
}
