.movies-card {
  box-sizing: border-box;
  list-style: none;
  background-color: #222222;
  border-radius: 6px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  padding-bottom: 18px;
}

@media (max-width: 500px) {
  .movies-card {
    padding-bottom: 14px;
  }
}

.movies-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 18px 0;
  margin-bottom: 18px;
}

@media (max-width: 500px) {
  .movies-card__header {
    padding: 13px 13px 0;
    margin-bottom: 13px;
  }
}

.movies-card__title {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
}

@media (max-width: 500px) {
  .movies-card__title {
    font-size: 12px;
    line-height: 1.5;
  }
}

.movies-card__duration {
  margin: 0;
  font-size: 13px;
  line-height: 1.38;
  color: #8b8b8b;
}

@media (max-width: 500px) {
  .movies-card__duration {
    font-size: 12px;
    line-height: 1.5;
  }
}

.movies-card__image {
  width: 100%;
  height: 200px;
  margin-bottom: 18px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .movies-card__image {
    height: 190px;
  }
}

@media (max-width: 500px) {
  .movies-card__image {
    height: 168px;
    margin-bottom: 12px;
  }
}

.movies-card__footer {
  display: flex;
  justify-content: center;
}

.button_type_gray {
  background-color: #313131;
}

.button_type_card {
  border-radius: 30px;
  padding: 0;
  width: 100px;
  height: 29px;
  font-size: 12px;
  line-height: 0.91;
}
