.movies-page {
  min-height: 100vh;
  box-sizing: border-box;
}

.movies {
  padding-top: 44px;
  box-sizing: border-box;
}

.movies-page__movies {
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .movies {
    padding-top: 62px;
  }
}

@media (max-width: 500px) {
  .movies {
    padding-top: 71px;
  }
}

.movies__footer {
  display: flex;
  justify-content: center;
}

.button_type_more {
  width: 320px;
  height: 36px;
  border-radius: 6px;
  background-color: #2f2f2f;
}

@media (max-width: 500px) {
  .button_type_more {
    width: 240px;
  }
}
