.movies {
  padding-top: 47px;
}

.app__movies {
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .movies {
    padding-top: 64px;
  }
}

@media (max-width: 500px) {
  .movies {
    padding-top: 78px;
  }
}

.movies__footer {
  display: flex;
  justify-content: center;
}
