.button {
  padding: 8px 20px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 0.75;
}

.button_type_none {
  color: #fff;
  background-color: transparent;
}

.button_type_green {
  background-color: #3ddc84;
  border-radius: 3px;
}
