.button {
  box-sizing: border-box;
  padding: 8px 20px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  cursor: pointer;
}

.button_type_none {
  color: #fff;
}

.button_type_green {
  background-color: #3ddc84;
  border-radius: 3px;
}

.button_type_blue {
  background-color: #4285f4;
}

.button_type_red {
  background-color: #ee3465;
}

.button_type_gray {
  background-color: #313131;
}

.button_type_card {
  border-radius: 30px;
  padding: 0;
  color: #fff;
  width: 100px;
  height: 29px;
  font-size: 12px;
  line-height: 0.91;
}

.button_type_more {
  width: 320px;
  height: 36px;
  border-radius: 6px;
  color: #fff;
  background-color: #2f2f2f;
}

@media (max-width: 500px) {
  .button_type_more {
    width: 240px;
  }
}

.button_type_search {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 34px;
  padding: 0;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
