.container {
  max-width: calc(100% - 140px);
}

.app__container {
  margin: auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: calc(100% - 60px);
  }
}

@media (max-width: 500px) {
  .container {
    max-width: calc(100% - 20px);
  }
}

@media (max-width: 1024px) {
  .container_type_landing {
    max-width: calc(100% - 100px);
  }
}

@media (max-width: 500px) {
  .container_type_landing {
    max-width: calc(100% - 28px);
  }
}
