.main__promo {
  margin: auto;
  height: 100vh;
}

.promo {
  height: 493px;
  max-width: calc(100% - 80px);
  background-color: #272727;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 152px 0 37px;
}

@media (max-width: 768px) {
  .promo {
    height: 834px;
    max-width: calc(100% - 40px);
    padding: 342px 24px 37px;
  }
}

@media (max-width: 500px) {
  .promo {
    height: 586px;
    max-width: calc(100% - 28px);
    padding: 217px 10px 20px;
  }
}

.promo__title {
  margin: 0;
  max-width: 730px;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.03em;
}

@media (max-width: 768px) {
  .promo__title {
    font-size: 40px;
    line-height: 1.3;
  }
}

@media (max-width: 500px) {
  .promo__title {
    font-size: 28px;
    line-height: 1.32;
  }
}
