.header__logo {
  margin-right: 44px;
}

@media (max-width: 768px) {
  .header__logo {
    margin: 0;
  }
}

.unauth-page__logo {
  margin-bottom: 40px;
}

@media (max-width: 500px) {
  .unauth-page__logo {
    margin-bottom: 50px;
  }
}
