.app__search-form {
  margin-bottom: 119px;
}

@media (max-width: 768px) {
  .app__search-form {
    margin-bottom: 128px;
  }
}

@media (max-width: 500px) {
  .app__search-form {
    margin-bottom: 91px;
  }
}

.search-form__string {
  border-bottom: 1px solid #424242;
  margin-bottom: 29px;
  position: relative;
}

@media (max-width: 500px) {
  .search-form__string {
    margin-bottom: 43px;
  }
}

.search-form__input {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: center;
  padding: 0 0 15px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  color: #fff;
}

@media (max-width: 500px) {
  .search-form__input {
    padding: 11px 0;
    text-align: left;
    font-size: 18px;
  }
}

.search-form__label {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: auto;
}

.search-form__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.search-form__pseudo-item {
  box-sizing: border-box;
  width: 36px;
  height: 20px;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  border-radius: 16px;
  display: flex;
  padding: 2px;
  align-items: center;
  background-color: #2e2e2e;
  cursor: pointer;
}

.search-form__circle {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.search-form__radio:checked + .search-form__pseudo-item > .search-form__circle {
  transform: translate(100%);
  background-color: #3ddc84;
}

.search-form__label-text {
  font-size: 14px;
  line-height: 1.28;
}

@media (max-width: 500px) {
  .search-form__label-text {
    font-size: 11px;
    line-height: 1.63;
  }
}

.search-form__icon {
  position: absolute;
  top: 0;
  left: 8px;
  border: 1px solid #424242;
  padding: 9px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .search-form__icon {
    display: none;
  }
}

.button_type_search {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 34px;
  padding: 0;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
