.saved-movies-page {
  box-sizing: border-box;
  min-height: 100vh;
}

.saved-movies-page__movies {
  margin-bottom: 80px;
}

.movies-page__movies-list_type_saved {
  margin-bottom: 169px;
}

.movies__message_type_error {
  padding-top: 60px;
}

@media (max-width: 768px) {
  .movies__message_type_error {
    padding-top: 80px;
  }
}
