.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.app__header {
  margin-bottom: 39px;
}

@media (max-width: 500px) {
  .app__header {
    margin-bottom: 30px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 44px;
}

@media (max-width: 768px) {
  .header__logo {
    margin: 0;
  }
}

.header__links {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .header__links {
    display: none;
  }
}

.header__link {
  list-style: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
  cursor: pointer;
}

.header__link_active {
  font-weight: 500;
}

.header__account-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header__account-menu {
    display: none;
  }
}

.header__burger-icon {
  display: none;
}

@media (max-width: 768px) {
  .header__burger-icon {
    display: block;
  }
}
