.footer {
  padding: 79px 0 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
}

.footer__text {
  margin: 0;
  color: #8b8b8b;
  text-align: center;
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .footer__text {
    font-size: 12px;
  }
}

.footer__year {
  margin: 0;
}

@media (max-width: 500px) {
  .footer__year {
    color: #8b8b8b;
  }
}

.footer__information {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 500px) {
  .footer__information {
    padding-top: 30px;
    flex-direction: column-reverse;
    gap: 30px;
  }
}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

@media (max-width: 500px) {
  .footer__links {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
}
