.nav-tab {
  display: flex;
  gap: 10px;
}

@media (max-width: 500px) {
  .nav-tab {
    gap: 6px;
  }
}

.nav-tab__link {
  width: 96px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  transition: all 0.2s ease-in-out;
}

.nav-tab__link:hover {
  transform: translateY(-5px);
  background-color: #3DDC84;
}

@media (max-width: 500px) {
  .nav-tab__link {
    width: 82px;
    height: 26px;
    font-size: 10px;
    line-height: 1.6;
  }
}
